html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    script(src='/static/js/lib/lodash.min.js')
    script(src='/static/js/lib/zepto.min.js')
    script(src='/static/js/lib/socket.io.min.js')

    script(src='/static/js/view_helper.js')
    script(src='/static/js/view.js')

    style
      *{margin:0;padding:0}
      #view-canvas{background:transparent;position:absolute;top:0;left:0}
  body(onload='_view.init()')
    canvas#view-canvas
