html
  head
    script(src='/static/js/lib/lodash.min.js')

    script(src='/static/js/view_helper.js')
    script(src='/static/js/view.js')

    style
      *{margin:0;padding:0}
      #view-canvas{background:transparent;position:absolute;top:0;left:0}
  body
    canvas#view-canvas
    script(type="text/javascript") _view.init()
